@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

body {
    background: linear-gradient(to right, #f0f4ff, #a5b6ee);
}
.wrapper {
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 72px 0 60px;
}
header img {
    width: 244px;
    height: 48px;
}

article {
    width: 400px;
    height: 360px;
    background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
    /* shadow */

    box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
    border-radius: 16px;
    margin: 0 auto;
    padding-top: 48px;
    box-sizing: border-box;
}

article h2 {
    text-align: center;
    color: white;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

article .line-top {
    width: 312px;
    height: 1px;
    margin: 23px auto 0;
    background-color: #3d538a;
}

article .line-bottom {
    width: 312px;
    height: 1px;
    margin: 0 auto;
    background-color: #5b75b4;
}

.wrapper-time {
    display: flex;
    gap: 79px;
    justify-content: center;
    margin-top: 32px;
    color: #a5b6ee;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.wrapper-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
}

.box {
    width: 80px;
    height: 80px;
    background: linear-gradient(314.28deg, #304577 0%, #4c65a0 83%);
    border: 1px solid #354971;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 40px;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 76px;
    font-family: "Pretendard";
    cursor: pointer;
}

.wrapper-btn {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 40px;
}

.btn-start {
    background-color: white;
    vertical-align: top;
    background: none;
}

.btn-reset {
    background-color: white;
    vertical-align: top;
    background: none;
}

footer {
    display: block;
    margin-top: 60px;
    font-family: "Pretendard";
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8596bf;
}
